body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 1em;
}

input {
    padding: 0.5em;
    margin-top: 0.5em;
}

button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#loginMessage, #incidentMessage {
    margin-top: 1em;
    text-align: center;
}
.flash-message {
    display: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.flash-message.success {
    background-color: #4CAF50;
    color: white;
}

.flash-message.error {
    background-color: #f44336;
    color: white;
}
